<span class="basic">
  <label>
    <input type="checkbox" name="login" />
    Login
  </label>
  <label>
    <input type="checkbox" name="order" />
    Order
  </label>
  <label>
    <input type="checkbox" name="reg" />
    Registration
  </label>

  {{!-- add or delete btn --}}
  <button data-move="add" class="btn btn-primary btn-xs">Add</button>
  <button data-move="delete" class="btn btn-danger btn-xs">Delete</button>
</span>