<span class="basic">
  <label>
    <input type="checkbox" name="login" />
    Login
  </label>
  <label>
    <input type="checkbox" name="order" />
    Order
  </label>
  <label>
    <input type="checkbox" name="reg" />
    Registration
  </label>

  {{> btns}}
</span>