<span class="check">
  <label>
    functions
    <select name="functions" data-action="check">
      <option value="elementIsVisible">elementIsVisible</option>
      <option value="elementTextContains">elementTextContains</option>
      <option value="titleContains">titleContains</option>
    </select>
    <span></span>
  </label>

  <label>
    Keys:
    <input type="text" name="functions_keys" />
  </label>

  {{> btns}}
</span>