<span class="check">
  functions 
  <select name="functions">
    <option value="elementIsVisible">elementIsVisible</option>
    <option value="elementTextContains">elementTextContains</option>
    <option value="titleContains">titleContains</option>
  </select>
  keys
  <input type="text" name="functions_name" />
  <button data-name="add" class="btn btn-primary btn-xs">Add</button>
  <button data-name="delete" class="btn btn-danger btn-xs">Delete</button>
</span>