<select name="actions" data-action="actions">
  <option value="">Selcet action</option>
  <option value="click">click</option>
  <option value="sendKey">sendKey</option>
  <option value="clear">clear</option>
</select>