{{#section 'style'}}
  <style>
    .list {
      padding: 5px 0;
    }
  </style>
{{/section}}

<div class="page-header">
  <h1>Task Lists</h1>
</div>

<div class="container">
  {{#each files}}
    <div class="list"><a href="/edit_task/{{.}}?sub_page=1">{{.}}</a></div>
  {{/each}}  
</div>